<section id="posts">
    {{#each allPosts}}
        <div class="post">
            <div class="post-header">
                <a href="/post/{{id}}"><h2>{{title}}</h2></a>
                <h4>Posted by {{User.name}} on {{createdAt}}</h4>
            </div>
            <p class="post-content">{{content}}</p>
        </div>
    {{/each}}
</section>