{{#each allPosts}}
    <section>
        <div class="post-header">
            <a href="/post/{{id}}"><h2>{{title}}</h2></a>
            <h4>Created by {{User.name}} on {{createdAt}}</h4>
        </div>
        <p class="post">{{content}}</p>
    </section>
{{/each}}